version: "3.9"

services:
  calendar:
    build: .
    container_name: calendar_app
    env_file:
      - .env
    ports:
      - "5000:5000"
    volumes:
      - ./instance:/app/instance
    restart: unless-stopped
