<title>Calendar | Add Event</title>
<link rel="icon" type="image/png" href="./static/favicon.png">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<h1>Add Event</h1>
<form method="POST">
    <label>Title:</label><br>
    <input type="text" name="title" required><br><br>

    <label>Event Type:</label><br>
    <select name="event_type">
        <option value="vacation">Vacation</option>
        <option value="meeting">Meeting</option>
    </select><br><br>

    <label for="start_date">Start Date:</label><br>
    <input type="datetime-local" name="start_datetime" id="start_date" required><br><br>

    <label for="end_date">End Date:</label><br>
    <input type="datetime-local" name="end_datetime" id="end_date" required><br><br>


    <label>Scope:</label><br>
    <label>
        <input type="radio" name="scope" value="personal" checked>
        Only me
    </label>

    <label>
        <input type="radio" name="scope" value="team">
        Whole team
    </label><br><br>


    <button type="submit">Add Event</button>
</form>
<p><a href="{{ url_for('calendar') }}">Back to Calendar</a></p>